---
layout: default
title: CV
permalink: /cv/
---

In my career I've been employed by two software development consulting companies, Softhouse and Consid. Below is a collection of some of the contracts that I've had.

{% assign jobs = site.jobs | sort: 'start_year' | reverse %}
{% for job in jobs %}
<div class="job">
    <div>
        <div class="job__company">
            {{ job.company }}
        </div>
        <div class="job__period">
            {{ job.start_year }} - {{ job.end_year }} {% if job.length %}({{ job.length }}){% endif %}
        </div>
    </div>
    <div>
        {{ job.content }}
    </div>
    <div>
        {% for tag in job.tags %}
            <span class="job__tag">{{ tag }}</span>
        {% endfor %}
    </div>
</div>
{% endfor %}