---
layout: default
title: CV
permalink: /cv/
---

This is not an exhaustive list of all companies I've worked for. I was a contractor before joining Frostbite full-time,
and have worked in dozens of projects for clients in a wide range of domains.

{% assign jobs = site.jobs | sort: 'start_year' | reverse %}
{% for job in jobs %}
<div class="job">
    <div>
        <div class="job__company">
            {{ job.company }}
        </div>
        <div class="job__period">
            {{ job.start_year }} - {{ job.end_year }} {% if job.length %}({{ job.length }}){% endif %}
        </div>
    </div>
    <div>
        {{ job.content }}
    </div>
    <div>
        {% for tag in job.tags %}
            <span class="job__tag">{{ tag }}</span>
        {% endfor %}
    </div>
</div>
{% endfor %}