---
---

@import "minima";

body {
    color: #333;
}

.project-cards {
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    
    .project-card {
        border-radius: 10px;
        -ms-flex: auto;
        background-color: #ddd;
        overflow: hidden;
        margin-bottom: 15px;

        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: black;
            }
        }
                        
        &__image {
            img {
                height: 200px;
                width: 360px;
                object-fit: cover;
            }
        }

        &__description {
            padding: 5px;
        }
    }
}

.project {
    &__image {
        text-align: center;
    }
}

.job {
    padding: 10px 0px;
    border-bottom: 1px solid grey;

    &__company {
        font-size: large;
        font-weight: bold;
        color: #444;
    }

    &__period {
        font-style: italic;
    }

    &__tag {
        background-color: rgb(233, 233, 233);
        border-radius: 5px;
        padding: 2px 8px;
    }
}

.post-content {
    img {
        display: block;
        margin: 0 auto;
    }
}